div .input-div {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
}

label {
    font-size: 1.8rem;
    font-weight: 500;
}

input{
    width: 100%;
    padding: 0.5rem;
    border: .1rem solid #A9A9A9;
    border-radius: .5rem;
    font-size: 1.8rem;
}